<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEoNcYPoqAi2k6jbjvmtKwx2NMYRulibs</string>
	<key>GCM_SENDER_ID</key>
	<string>171282885839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exchangeApp</string>
	<key>PROJECT_ID</key>
	<string>exchange-rates-app-5dfeb</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-rates-app-5dfeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171282885839:ios:e12dc5ec7055755be8dbba</string>
</dict>
</plist>